body {
  font-family: Lato;
  background-color: rgba(0, 0, 0, 0.85); 
  margin: 0 auto; }

p {
  color: white; }

ul {
  margin-top: 0; }

li {
  margin: 0;
  color: white; }

a {
  color: rgba(40, 203, 117, 0.85);
  text-decoration: none; }

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #306145;
}

#header #header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#header #header-content .heading-text {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  color: white;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#container #message {
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#container #message .message-header {
  font-size: 32px;
}

#container #message .options-list {
  display: flex;
  flex-direction: column;
}

#container #message .options-list .message-text {
  margin: 0 auto;
  padding: 5px;
  font-size: 24px;
}